<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" th:remove="tag">
<script th:src="@{/js/createMenu.js}"></script>
</head>
<body th:class="|${option.bgColor} h-100 vstack|">
	<div layout:fragment="content" class="container-fluid" style="padding-top:80px">
		<form th:action="@{/process}" th:object="${task}" method="post" novalidate class="mb-3 mx-5">
			<input type="hidden" th:field="*{taskId}">
			<div class="mb-3">
				<label for="title">タスク名</label>
				<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{title}">
				<div class="invalid-feedback" th:errors="*{title}"></div>
			</div>
			
			<div class="mb-3">
				<label for="content">内容</label>
				<textarea class="form-control" th:errorclass="is-invalid" th:field="*{content}"></textarea>
				<div class="invalid-feedback" th:errors="*{content}"></div>
			</div>
			
			<!-- <input type="text" name="フィールド名" th:value="${変数名}" /> 
			th:fieldやth:nameに値を入れているとvalueの中が空になる仕様に注意-->
			<input class="form-control" name="userId" th:value="${#authentication.principal.username}" type="hidden">
			
			<div class="mb-3">
				<label for="schedule">予定日</label>
				<div class="input-group">
					<input type="date" class="form-control" th:errorclass="is-invalid" th:field="*{schedule}">
					<select class="form-control" th:field="*{timeSche}" th:errorclass="is-invalid">
						<option th:value="null">選択</option>
					</select>
					<div class="invalid-feedback" th:errors="*{schedule}"></div>
					<div class="invalid-feedback" th:errors="*{timeSche}"></div>
				</div>
			</div>
			
			<div class="mb-3">
				<label for="select">優先度</label>
				<select class="form-control" id="select" th:field="*{priority}">
					<option th:value="0">未選択</option>
					<option th:value="1">1</option>
					<option th:value="2">2</option>
					<option th:value="3">3</option>
					<option th:value="4">4</option>
					<option th:value="5">5</option>
				</select>
			</div>
			
			<button class="btn btn-primary px-5">
				<i class="bi bi-pencil-fill"></i>
				保存
			</button>
		</form>
		
		<a th:href="@{/}" class="btn btn-secondary ms-5">戻る</a>
	</div>
</body>
</html>