<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/layout}"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" th:remove="tag">
<script th:src="@{/js/initial.js}"></script>
</head>
<body th:class="|${option.bgColor} h-100 vstack|">
	<!-- コンテンツの表示 -->
	<div layout:fragment="content" class="container-fluid">
		<div class="mb-3 ms-4" style="padding-top:80px">
			<div class="row">
				<a th:href="@{/add}" class="btn btn-primary col-auto">
					<i class="bi bi-plus-lg"></i>
					新規追加
				</a>
				<a th:href="@{/sort}" class="btn btn-secondary col-auto ms-3">
					<i class="bi bi-sort-up"></i>
					並び替え
				</a>
			</div>
			
		</div>
		<section  class="container-fluid">
			<div class="row g-4 row-cols-md-4 row-cols-1">
				<th:block th:each="task : ${tasks}" th:object="${task}" th:if="${tasks.size > 0}">
					<div class="col-auto">
						<div class="card mb-3 mx-1" style="width: 18rem">
							<div class="card-body yubi">
								<div data-bs-toggle="modal" th:data-bs-target="'#taskdetail' + *{taskId}">
									<h4 class="card-title" th:text="*{title}"></h4>
									<h4 class="border-bottom"></h4>
									<p class="card-text text-black" th:text="*{content}"></p>
								</div>
								<div class="row">
									<div class="text-right">
										<a th:href="@{/edit/{id}(id=*{taskId})}" class="btn btn-primary col-auto mx-3">
											<i class="bi bi-pencil-fill"></i>
											編集
										</a>
										<button type="button" class="btn btn-danger col-auto" data-bs-toggle="modal"
										th:data-bs-target="'#modal' + *{taskId}">
											<i class="bi bi-trash"></i>
											削除
										</button>
										
										<div class="modal fade not-yubi" th:id="'modal' + *{taskId}" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
										aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" id="modalLabel">確認</h4>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<!-- モーダルの本文 -->
													<div class="modal-body">
														本当に削除しますか？
													</div>
													<!-- モーダルのフッター -->
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
														<a th:href="@{/delete/{id}(id=*{taskId})}" class="btn btn-danger col-auto">
															<i class="bi bi-trash"></i>
															削除
														</a>							
													</div>
												</div>
											</div>
										</div>
										
										<div class="modal fade not-yubi" th:id="'taskdetail' + *{taskId}" tabindex="-1" role="dialog" aria-labelledby="modalLabel2"
										aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="*{title}" id="modalLabel2"></h4>
														<h4 th:text="*{schedule} + ' ' + *{timeSche}" th:if="*{schedule} != null and *{timeSche} != null"></h4>
														<h4 th:text="*{schedule}" th:if="*{schedule} != null and *{timeSche} ==null"></h4>
														<h4 th:text="*{timeSche}" th:if="*{timeSche} != null and *{schedule} == null"></h4>
													</div>
													<p class="modal-body text-black" th:text="*{content}"></p>
													<!-- モーダルのフッター -->
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>							
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</th:block>
					
			</div>
		</section>
	</div>
</body>
</html>