<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" th:remove="tag">
</head>
<body>
	<div layout:fragment="content" class="container-fluid" style="padding-top:80px">
		<form th:action="@{/sort}" th:object="${sort}" method="post" novalidate class="mb-3 mx-5">
			<input type="hidden" th:field="*{sortId}">
			
			<!-- <input type="text" name="フィールド名" th:value="${変数名}" /> 
			th:fieldやth:nameに値を入れているとvalueの中が空になる仕様に注意-->
			<input class="form-control" name="userId" th:value="${#authentication.principal.username}" type="hidden">
			
			<div class="mb-3">
				<label for="select">基準</label>
				<select class="form-control" id="select" th:field="*{name}">
					<option th:value=null>未選択</option>
					<option th:value="優先度順">優先度順</option>
					<option th:value="予定時間順">予定時間順</option>
				</select>
			</div>
			
			<div class="mb-3">
				<label for="select">昇順or降順</label>
				<select class="form-control" id="select" th:field="*{orderStr}">
					<option th:value=null>未選択</option>
					<option th:value="昇順">昇順</option>
					<option th:value="降順">昇順</option>
				</select>
			</div>
			
			<button class="btn btn-outline-primary px-5">
				<i class="bi bi-pencil-fill"></i>
				保存
			</button>
		</form>
		
		<a th:href="@{/}" class="btn btn-secondary ms-5">戻る</a>
	</div>
</body>
</html>